.input {
  background-color: var(--input-bg);
  color: var(--input-text);
  font-size: 13px;
  border-radius: 4px;
  padding: 6px 8px;
  outline: none;
  width: 100%;

  &:hover {
    background-color: var(--input-hover-bg);
  }

  &:focus {
    outline: 1px solid var(--input-focus-outline);
  }

  &::placeholder {
    opacity: 0.75;
  }
}
