.button {
  align-items: center;
  border: 1px solid var(--button-border);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--button-text);
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  min-width: 5.14em;
  outline-width: 0;
  overflow: hidden;
  padding: 8px 16px;
  position: relative;
  user-select: none;
  font-size: 13px;

  &:hover {
    background-color: var(--button-hover-bg);
    border-color: var(--button-hover-border);
  }

  &:disabled {
    background-color: var(--button-disabled-bg);
    border-color: transparent;
    color: var(--button-disabled-text);
    cursor: auto;
    pointer-events: none;
  }
}
